.box {
    // border: 3px solid black;
    width: 250px;
    height: 230px;
    margin-left: 60px;
    margin-top: 30px;
}

.text-style {
    font-size: 20px;
}

.title-style {
    // align-self: center;
    font-size: 300px;
    margin-left: 30px;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-openModal {
    background: white;
    color: black;
    font-size: 17px;
    // margin: 2rem;
    margin-left: 1000px;
    // padding: .5rem 1.8rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal-wrapper {
    background: white;
    position: absolute;
    width: 335px;
    left: 1000px;
    height: 500px;
    transition: all .5s ease;
    z-index: 1;
}

.modal-header {
    position: absolute;
    right: -15px;
    // color: #e9e9e9;
    // padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header span {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content {
    padding: 1.5rem 1rem;
}

.modal-body {
    margin-bottom: 1rem;
}

.modal-body h4 {
    text-align: left;
    font-size: 15px;
    color: black;
}

.modal-body p {
    font-size: 15px;
    text-align: left;
    background: white;
    color: #333;
    // padding: 1rem;
    // margin: 1rem 0 2rem 0;
}

.modal-footer button {
    display: block;
    font-size: 13px;
    margin-left: -13px;
    color: black;
}

.back-drop {
    background: rgba(170, 164, 164, 0.692);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}